.c-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: -5px 0 40px;
  padding: 0;

  & .rc-pagination-prev,
  & .rc-pagination-next {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }

  & .rc-pagination-item {
    min-width: 40px;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    line-height: 22px;
    color: #252733;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dfe0eb;
    transition: 250ms ease;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: 0;
      border-color: #7b84a4;
    }

    &.rc-pagination-item-active {
      color: #fff;
      border-color: #7b84a4;
      background-color: #7b84a4;
    }

    &:nth-child(2) {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:nth-last-child(2) {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
