.notifications-page {
  hr {
    margin: 15px 0;
    border: 1px solid #dfe0eb;
    border-top: none;
  }

  .alerts-box-content-item {
    justify-content: space-between;
  }

  .c-pagination {
    margin: 50px 0 0px;
    padding: 0;
  }
}
