.container {
  max-width: 100%;
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-medium {
    width: 700px;
  }
  &-large {
    width: 1200px;
  }
}
