.c-header {
  margin: 0 -30px 40px;
  padding: 24px 30px;
  background: #fff;

  & + .c-actions-bar {
    margin-top: -37px;
  }

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__col-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    > div:nth-child(2) { 
      margin-left: 20px; 
    }   
  }

  &__col-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    img {
      margin: 0 10px 0 0;
      cursor: pointer;
    }
  }

  &__col-alerts {
    position: relative;
  }

  &__col-name {
    margin-left: 10px;
    cursor: pointer;
  }

  &-profile-menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #dee1ec;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    // &-item {
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    color: #4a4f62 !important;
    // }
  }
}
