@mixin myTextSize {
  font-size: 14px;
  line-height: 20px;
}

.my_text {
  &--default {
  }

  &--link {
    @include myTextSize;
    font-weight: bold;
    cursor: pointer;
    color: #598cff;
  }

  &--alert-label {
    @include myTextSize;
    font-weight: normal;
    color: #2f2f2f;
  }

  &--content-title-bg {
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 28px;

    color: #4a4f62;
  }
}
