@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion/Gelion-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion/Gelion-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion/Gelion-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gelion';
  src: url('../fonts/Gelion/Gelion-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}